
.header{
    background-image: url(../img/foto10.jpg) ;
       
}

.Menu{
list-style: none;
padding: 0;
background:blueviolet;
width: 90%;
max-width: 1000px;
margin: auto;
}

.Menu li a{
    text-decoration: none;
    text-align: center;
    color:black;
    padding: 20px;
    display: block;
}

.Menu li{
    display: inline-block;
    text-align: center;
}

.Menu li a:hover{
    background:brown;
} 

h1{
    text-align: center;
    font-size: 38px;
    color:chartreuse;
}
h2{
    font-size: 26px;
    color:cyan;

}
h3{
    font-size: 20px;
    color:blue;

}
h4{
    font-size: 20px;
    color:gold;
}
p{
    text-align: justify;
    font-size: 18px;
    color:aliceblue ;
}

